body {
	background-color: #ccc;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data{
	margin-top: 20px;
}

.data .video{
}

.data .list{
	padding-top:20px;
	font-size: 20px;
}

.map table tr, .map table td{
	border: 1px solid black;
}

.map table {
	margin-top:20px;
	height: 320px;
	width: 640px;
}

.invis {
	border-bottom: 1px solid rgba(255, 0, 0, 0) !important;
}

.map table td.active {
	background-color: red;
}